body {
    background-color: lightblue;
}

#logintable {
  height: auto;
  margin-top: 20%;
}

#menutable {
  height: auto;
  margin-top: 20%;
}


#logintable td {
  padding: 2%;
  width: auto;
}

#maintaintable td{
  padding: .5%;
}

#worktable td {
  padding: .5%;
}
