body {
    background-color: lightblue;
}

#logintable {
  height: auto;
  margin-top: 20%;
}

#menutable {
  height: auto;
  margin-top: 20%;
}


#logintable td {
  padding: 2%;
  width: auto;
}

#maintaintable td{
  padding: .5%;
}

#worktable td {
  padding: .5%;
}

#reporttable td {
  padding: .5%;
}


#maintainerstable td{
  padding: .5%;
}

.deleteButton:link, .deleteButton:visited {
    color: white;
    text-decoration: none;
    cursor: auto;
    background-color: red;
    text-decoration: none;
   padding: 2px 6px 2px 6px;
   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
}

.deleteButton:active, .deleteButton:visited:active {
    color: white;
}
