body {
    background-color: lightblue;
}

#logintable {
  height: auto;
  margin-top: 20%;
}

#logintable td {
  padding: 2%;
  width: auto;
}

#formtable td {
    margin: 2%;
    padding: 5%;
}

#hoteldata {
  margin-bottom: 5%;
}
